<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> YelProject</title>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <style type="text/css">
    body {
        padding-top: 0px;
        padding-bottom: 200px;
        padding-left: 50px;
        padding-right: 50px;
        height: 1080px;
        }
    #map {
        height: 100%;
        }
</style>
<link rel="shortcut icon" href="#">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> YelProject Nav Bar </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Data Sources</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Plots
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Yelp Ratings Visualization</a>
            <a class="dropdown-item" href="#">Full Screen Map</a>
          </div>
        </li>
        </li>
      </ul>

    </div>
  </nav>
<body>
  <hr>
  <!-- The div where we will inject our map/ put this in a shell -->
  <h1 style="text-align: center;">Welcome to our YelProject</h1>
<hr />

<div class="container">
  <div class="row">
<table class="table table-bordered table-striped text-center">
<tbody>
<tr>
<td style="width: 40%;text-align: center;">
  <h2>What Questions Did We Plan on Answering?</h2>

  </td>
<td style="width: 40%;text-align: center;">
  <h2>And How Would We Do It? </h2></td>
</tr>
<tr>
  <td style="width: 50%;"><b>1. How Strong is the Relationship between Price Level and Ratings on Yelp</b></td>
  <td style="width: 50%;">Create a intricate d3 plot highlighting the regression line between these two variables, as well as how common each rating and price are paired together.<br></td>
</tr>       
 
<tr>
  <td style="width: 50%;"><b>2. Does the Socio-Economic Geography of a City impact the relationship between Price and Rating?</b></td>
  <td style="width: 50%;">Built a Leaflet Map with layers for both median income and average restaurant rating. Allowing users to see and notice their own patterns in the data and enabling them to investigate with interactive markers placed for businesses with certain attributes. <br></td>
</tr>   
</tbody>
</table>
</div>

<div class="container">
  <div class='row'>
    <!-- First of two columns -->
    <div class="col-md-6">
      <h2>The Relationship between Zip Code, Rating, and Price Point</h2>
    </div>
    <!-- Second of two columns -->
    <div class="col-md-6">

      <img  display="block" margin-left= "auto" margin-right= "auto" width="150px" id="Yelp Logo" src="https://www.prodigymovingandstorage.com/wp-content/uploads/2018/11/yelp-logo-3.png" alt="Yelp Logo"> 
    </div>
    </div>

</div>
<hr>

</div>
<div id="map"height="500px"></div>

<hr>

  

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  
<!-- API Key-->
  <script type="text/javascript" src="../static/js/config.js"></script>
<!-- JS  -->
  <script type="text/javascript" src="../static/js/logic.js"></script>
  
  
</body>

</html>
